<h1>Update Password</h1>

<%= form_for @user, :url => {:action => "updatepswd"} do |f| %>

    <% if @user.errors.any? %>
    <p><%= @user.errors.full_messages.join(', ') %></p>
    <% end %>

    <br>
    <div>
    <h4>User: <%= @user.name %> | Email: <%= @user.email %></h4>
    </div>
    <br>

    <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, class: "form-control"  %>
    </div>
    
    <div class="form-group">
    <%= f.label :new_password %>
    <%= f.password_field :password, class: "form-control"  %>
    </div>
    
    <div class="form-group">
    <%= f.label :new_password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <%= f.submit class: "btn btn-outline-primary" %>
    
<% end %>