<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post do |f| %>

  <div class="form-group">
  Title:
  <%= f.text_area(
    :title,
    cols: 50,
    rows:1,
    placeholder: "Post title",
    class: "form-control"
    ) %>
   
  </div>
  <div>
  Body:
  <%= f.text_area(
  :body,
  cols: 50,
  rows: 5,
  placeholder: "Create a new post",
  class: "form-control"
  ) %>
  </div>
  <br>
  <%= f.submit class: 'btn btn-outline-primary' %>
</div>

   
  
<% end %>
