<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<p><%= @post.created_at %></p>

<%= link_to "Edit", edit_post_path(@post)%>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>

<hr />

  <%= form_with(model: [@post, @comment], local: true) do |f| %>
  <% if @comment.errors.any? %>
    <ul>
      <% @comment.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.text_area(
    :body,
    cols: 50,
    rows: 5,
    placeholder: "What are your thoughts?",
    class: "form-control"
    ) %>
  </div>
  <%= f.submit "Comment" %>
<% end %>

<hr />

<ul class="comment-list">
  <% @comments.each do |comment| %>
    <li>
      <p>
        <%= comment.body %> <br />
        <small>
          <%= link_to(
            "Delete",
            post_comment_path(@post, comment),
            method: :delete,
            data: {
              confirm: "Are you sure?"
            }
          ) %>
        </small>
        |
        <small>
          Commented <%= time_ago_in_words(comment.created_at) %> ago
        </small>
      </p>
    </li>
  <% end %>
</ul>
