<!DOCTYPE html>
<html>
  <head>
    <title>Blog on Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- <a href="/">Home</a> -->
    <%= link_to 'Home', root_path %>
    |
    <%= link_to 'New Post', new_post_path %>
    |
    <%= link_to 'All Posts', posts_path %>
    |
   
    <hr>
    <% flash.each do |type, message| %>
      <div class="flash flash-<%= type %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
